Repository kaze-no-manga/models: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run lint', bash -c 'npm run build', bash -c 'npm run test:coverage', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

.lintstagedrc:

"package.json":
  - "bash -c 'npm run lint'"

"*.ts":
  - "bash -c 'npm run build'"
  - "bash -c 'npm run test:coverage'"

"*.{ts,tsx,cjs,json,yaml,graphql,md,css,scss,html}":
  - "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"

feat: implement GraphQL-first models package with domain separation
  .gitignore
  codegen.yml
  lib/graphql/base.graphql
  lib/graphql/domains/content.graphql
  lib/graphql/domains/index.ts
  lib/graphql/domains/library.graphql
  lib/graphql/domains/user.graphql
  lib/graphql/index.ts
  lib/graphql/schema.graphql
  lib/graphql/types.ts
  lib/index.ts
  package.json
  scripts/merge-schema.ts
  src/graphql/schema.graphql
Due: bash -c 'npm run lint', bash -c 'npm run build', bash -c 'npm run test:coverage', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add comprehensive test suite and fix all lint warnings
  .kiro/agents/dev.json
  biome.json
  lib/graphql/domains/index.ts
  lib/graphql/domains/user.graphql
  lib/graphql/index.ts
  lib/graphql/schema.graphql
  lib/graphql/types.ts
  lib/index.ts
  package.json
  scripts/merge-schema.ts
  test/build-pipeline.test.ts
  test/graphql/domains/content.test.ts
  test/graphql/domains/library.test.ts
  test/graphql/domains/user.test.ts
  test/graphql/schema-integration.test.ts
  test/package-exports.test.ts
  test/scripts/merge-schema.test.ts
  tsconfig.json
Due: bash -c 'npm run lint', bash -c 'npm run build', bash -c 'npm run test:coverage', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: refactor models with improved structure and complete CRUD operations
  lib/graphql/domains/content.graphql
  lib/graphql/domains/library.graphql
  lib/graphql/domains/user.graphql
  lib/graphql/schema.graphql
  lib/graphql/types.ts
  test/graphql/domains/content.test.ts
  test/graphql/domains/library.test.ts
  test/graphql/schema-integration.test.ts
Due: bash -c 'npm run build', bash -c 'npm run test:coverage', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :sparkles: Added the release workflow
  .github/workflows/release.yml
Due: none

ci: :ambulance: Added the build phase before the tests
  package.json
Due: bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  19b619edc33a94b22dd284b88d896d922afd12b5
Due: none

chore: add code intelligence tool to dev agent
  .kiro/agents/dev.json
  .kiro/settings/lsp.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: align documentation with current lean approach
  .kiro/steering/agent-prompt.md
  .kiro/steering/conventions.md
  .kiro/steering/dependencies.md
  .kiro/steering/graphql.md
  .kiro/steering/schemas.md
  .kiro/steering/tech.md
  README.md
  package.json
Due: bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: :sparkles: Added badged on the readme
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
